@import url('https://fonts.googleapis.com/css?family=Noto+Sans|Noto+Sans+KR:300,700&display=swap');
body {
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 300;
  font-size: 15px;
  background: #ffffff;
}
.mokup-iphone {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%) scale(0.6);
}
.home-screen {
  background: url(images/bg-img.jpg) no-repeat bottom;
  background-size: cover;
  width: 400px;
  height: 750px;
  position: relative;
}
.clock {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  z-index: 2;
  opacity: 0.5;
  top: 10%;
  transition: 0.5s;
  width: 100%;
  transition-delay: 0.2s;
}
.clock.active {
  top: 0%;
  opacity: 1;
}
.clock h1 {
  font-size: 60px;
  margin-top: 70px;
}
.clock h1 span {
  font-size: 20px;
}
.clock p {
  font-size: 20px;
}
.clock p span {
  transform: rotate(-90deg);
  display: inline-block;
  font-size: 14px;
  margin-left: 8px;
}
.finger {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  width: 100%;
  bottom: 130px;
}
.finger img {
  width: 40px;
  display: block;
  margin: auto;
  margin-bottom: 8px;
  cursor: pointer;
  transition: 0.3s;
}
.finger img:active {
  opacity: 0;
}
.footer-btn {
  position: absolute;
  bottom: 50px;
  width: 100%;
  overflow: hidden;
  padding: 0 30px;
  box-sizing: border-box;
}
.footer-btn .fa {
  font-size: 45px;
  cursor: pointer;
}
.fa-phone-square {
  float: left;
}
.fa-camera {
  float: right;
}
.mokup-homebtn {
  cursor: pointer;
  transition: 0.5s;
}
.mokup-homebtn:hover {
  background: #cbcbcb;
}
.overlay-screen {
  width: 400px;
  height: 750px;
  background: #000;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 1;
  transition: 0.5s;
  z-index: 2;
}
.overlay-screen.active {
  opacity: 0;
  z-index: 0;
}